/* DEFUALT VIEW */

body {
    font-family: "Gill Sans", sans-serif;
    background-color: #FBF7EB;
}

/* Style skip to main content */
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

/* Header and nav bar */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ECCEEE;
    padding: 10px;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav_item a {
    padding: 10px;
    color: black;
}

/* Footer */
footer {
    background-color: #ECCEEE;
    color: black;
    padding: 20px;
    text-align: center;
}