/* DEFUALT VIEW (MOBILE) */

body {
    font-family: "Gill Sans", sans-serif;
    background-color: #FBF7EB;
    margin: 0;
    padding: 0;
    font-size: 1em;
}

h1 {
    font-size: 2em;
    text-align: center;
    line-height: 2;
}

h2 {
    font-size: 1.5em;
    text-align: center;
    padding: 5px;
}

p {
    padding: 5px;
}

ul {
    list-style-type: circle;
    padding: 0 25px;
}

/* Style skip to main content */
a.skip{
    background: white;
    left: 0;
    padding: 6px;
    position: absolute;
    top: -40px;
    -webkit-transition: top 1s ease-out;
    transition: top 1s ease-out;
    z-index: 1;
}

a.skip:focus{
    top:20px;
    color: black;
    text-decoration-style: solid;
}

/* Header and nav bar */
header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #ECCEEE;
    padding: 10px;
}

.nav_links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style-type: none;
}

.nav_item a {
    padding: 10px;
    color: black;
    text-decoration: none;
}

.nav_item a:hover, a:active {
    background-color: purple;
    color: white;
    text-decoration: underline;
}

/* Footer */
footer {
    background-color: #ECCEEE;
    color: black;
    padding: 20px;
    text-align: center;
}

/* Grid styling */
.sw-grid, .marvel-grid, .hp-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 1fr;
    justify-content: center;
    align-content: center;
    grid-column-gap: 30px;
    grid-row-gap: 30px;
    padding: 30px;
}

.sw-grid img, .marvel-grid img, .hp-grid img {
    height: 100%;
}

.sw-grid img:last-child, .marvel-grid img:last-child, .hp-grid img:last-child{
    grid-column: 2;
}

/* Flex box */

/* Media queries for different screen sizes */

/* MIN 500px VIEW (TABLET) */
@media (min-width: 500px) {

}

/* MIN 700px VIEW (LARGER) */
@media (min-width: 700px) {

}